
@using NWTradersWeb.Models;
@model IEnumerable<CustomerSales>

<div class="card">
    <div class="card-header navbar">
        <div>
            <h6>
                Top Products
            </h6>

        </div>
    </div>
</div>

